.carousel{
    overflow: hidden;
    max-width: 600px;
    position: relative;

}

.carousel .carousel-item,
.carousel .carousel-item-hidden{
    display: none;
}

.carousel .carousel-item img{
    max-width: 600px;
    width: 100%;
    height: auto;
}
.carousel .carousel-item-visible{
    display: block;
}
.carousel .carousel-actions{
    width: 100%;
    position: relative;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}
.carousel .carousel-actions button{
    border-radius: 50px;
    border: 0;
    font-weight: bold;
}